
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Parking Allocation System</h1>
    <a href="/Parking">Go to Parking Allocation</a>
</body>
</html>
